<section class="user-show-wrapper">
    <h1><%= @user.username %></h1>
    <hr><br>

    <% if @user.boards.any? %>
        <h3>Boards</h3>
        <ul class="board-list">
            <% @user.boards.each do |board| %>
                <li>
                <a href="/boards/<%= board.id %>">
                    <%= board.title %>
                </a>
                <% if !board.description.empty? %>
                    - <%= board.description %>
                <% end %>
                </li>
            <% end %>
        </ul>
    <% else %>
        <p>No boards</p>
        <% if @user == current_user %>
            <p><a href="/boards/new">Create your first board!</a></p>
        <% end %>
    <% end %>
</section>
