<h1><%= @user.username %></h1>
<hr><br>
<h3>Boards</h3>
<% if @user.boards.length == 0 %>
    <p>None</p>
<% end %>

<% @user.boards.each do |board| %>
    <a href="/boards/<%= board.id %>"><%= board.title %></a><br>
<% end %>
