<h1>Boards</h1>

<ul class="board-list">
<% @boards.each do |board| %>
    <li>
        <a href="/boards/<%= board.id %>">
        <%= board.title %>
        </a> 
        <% if !board.description.empty? %>
            - <%= board.description %>
        <% end %>
    </li>
<% end %>
</ul>
