<section class="board-new-wrapper">
    <h1>Create a Board</h1>

    <form action="/boards" method="post">
        <div class="form-field">
            <label for="title">Title</label><br>
            <input type="text" id="title" name="board[title]" size="50">
        </div>
        <div class="form-field">
            <label for="description">Description</label><br>
            <textarea id="description" name="board[description]" rows="4" cols="53"></textarea>
        </div>

        <button class="submitbtn" type="submit">Create Board</button>
    </form>
</section>
